header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 40px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links-container-header {
  display: flex;
  gap: 50px;
}

.nav-link-header {
  font-size: 24px;
  color: #ff6060;
  text-decoration: none;
}

.nav-link-header:hover {
  text-decoration: underline;
}
